<div id="rants_headers">
Let me tell you about <%= @user.first_name %>.....
<br>
</div>
<br>
<dt>Last name: <%= @user.last_name %></dt>
<br>
<dt>Bio: <%= @user.bio %></dt>
<br>
<dt>How often they rant: <%= @user.rant_frequency %></dt>
<br>
</ul>
<%= link_to "Follow this Ranter", user_follows_path(:id => @user.id), :method => :create, class: "button-link" %>


