<%= form_for @user, url: signin_path, html: { class: "signin-form" } do |f| %>
  <% f.object.errors.full_messages.each do |error| %>
    <div class="errors">
      <%= error %>
    </div>
  <% end %>
  <br>
  <br>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <br>
  <div>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <br>
  <div>
    <%= f.submit "Login" %>
  </div>
<% end %>