<h1>Edit rant</h1>
<div class="errors">
  <% if @rant.errors.any? %>
    <% @rant.errors.messages[:title].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
</div>
<br>
<%= form_for ([@user, @rant]), html: {class: "edit_rant_form"} do |f| %>
  <div>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title, value: @rant.title %>
    <br>
    <%= f.label :content %>
    <br>
    <%= f.text_field :content, value: @rant.content %>
  </div>
  <div>
    <br>
    <%= f.submit "Edit rants" %>
  </div>
<% end %>