<div id="rants_headers">
  <h1>Latest Rants</h1>
</div>
<% @rant.each do |rant_list| %>
  <ul>
    <li> <%= rant_list.user.first_name %> | <%= rant_list.title %> | <%= rant_list.created_at %></li>
    <dt> <%= rant_list.content %></dt>
    <hr>
  </ul>
<% end %>
<div id="rants_headers">
  <h1>My Rants</h1>
  <%= link_to "create rants", new_user_rant_path, class: "button-link" %>
</div>
<br>
<br>
<% @rants.each do |rants| %>
  <ul>
    <li> <%= rants.title %></li>

    <dt> <%= rants.content %></dt>
    </li>
    <%= link_to "edit", edit_user_rant_path(@user.id, rants.id) %>
    <%= button_to "delete", user_rant_path(@user, rants), method: "delete" %>
  </ul>
<% end %>