<div class="rants clearfix">
  <div id="rants_headers">
    <img class="rant-image" style="width:30%;height:15%" src=<%= @rant.user.avatar %>>
    <%= link_to @rant.user.username, user_bios_path(@rant.user.id) %>
  </div>
  <br>
  <div id="rants_footers">
    <% unless @rant.user.id == current_user.id %>
  <% if check_for_follow(@rant.user) %>
      <%= button_to "unfollow", user_follow_path(:id => @rant.user.id, :user_id => @user.id), method: "delete" %>
    <% else %>
      <%= link_to "follow", user_follows_path(id: @rant.user.id), :method => :post, class: "button-link" %>
    <% end %>
    <% end %>
 <br>
  </div>
  <div class="indexing_rants">
    <dt> <%= @rant.title %>:</dt>
    <dt> <%= hashtag_search(create_markdown(@rant.content)) %></dt>
  </div>
  <br>
  <div id="rants_footers">
    <% unless @rant.user_id == current_user.id %>
  <%= link_to "Spam", spam_path(@rant), class: "spam-button-link" %>
      <% end %>
    <a href="https://twitter.com/share" data-via = <%=@rant.user.username%> class= 'tweet-button-link'>Tweet</a> | |
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <% favorite = Favorite.where(rant_id: @rant.id, user_id: current_user.id).first %>
    <% if !favorite %>
      <%= link_to "Favorite", user_favorites_path(rant_id: @rant.id), method: :POST %>  | <%= @rant.favorites.count%>
    <% else %>
      <%= link_to "Unfavorite", user_favorite_path(@user, favorite), method: :DELETE %> | <%= @rant.favorites.count%>
    <% end %>
    <br>
    <br>
</div>
</div>

<div id="rants_headers">
  <%= form_for @comment, url: rant_comments_path(@rant.id), html: {class: "create_comment_form"} do |f| %>
    <br>
    <%= f.label :comment %>
    <br>
    <%= f.text_field :body, size: "30x10" %>
    <br>
    <br>
    <%= f.submit "create comment" %>
  <% end %>
</div>
<% if @comments != nil %>
  <% @comments.each do |comment| %>
    <div class="my_rants clearfix">
      <div class="indexing_rants">
        <div id="boxrants">
          <img class="rant-image" style="width:20%;height:10%" src=<%= comment.user.avatar %>>
          <%= link_to comment.user.username, user_bios_path(comment.user.id) %>
          <br>

          <%= comment.body %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<br>
<br>
