<div class="rants clearfix">
  <div id="rants_headers">
    <img class="rant-image" style="width:30%;height:15%" src=<%= @rant.user.image %>>
    <%= link_to @rant.user.username, user_bios_path(@rant.user.id) %>
  </div>
  <br>
  <div id="rants_footers">
    <% if check_for_follow(@rant.user) %>
      <%= button_to "unfollow", user_follow_path(:id => @rant.user.id, :user_id => @user.id), method: "delete" %>
    <% else %>
      <%= link_to "follow", user_follows_path(id: @rant.user.id), :method => :post, class: "button-link" %>
    <% end %>
    <br>
  </div>
  <div class="indexing_rants">
    <dt> <%= @rant.title %>:</dt>
    <dt> <%= create_markdown(@rant.content) %></dt>
  </div>
  <div id="rants_footers">
    <% favorite = Favorite.where(rant_id: @rant.id, user_id: current_user.id).first %>
    <% if !favorite %>
      <%= link_to "Favorite", user_favorites_path(rant_id: @rant.id), method: :POST %>  | <%= @rant.favorites.count%>
    <% else %>
      <%= link_to "Unfavorite", user_favorite_path(@user, favorite), method: :DELETE %> | <%= @rant.favorites.count%>
    <% end %>
  </div>
</div>
