<div class="rants clearfix">
  <div id="rants_headers">
    <img class="rant-image" style="width:30%;height:15%" src=<%= @rant.user.avatar %>>
    <%= link_to @rant.user.username, user_bios_path(@rant.user.id) %>
  </div>
  <br>
  <div id="rants_footers">
    <% unless @rant.user_id == current_user.id %>
      <%= link_to "Spam", spam_path(@rant), class: "spam-button-link" %>
    <% end %>
  </div>
  <div class="indexing_rants">
     <dt> <%= @rant.title %>:</dt>
    <dt> <%= hashtag_search(create_markdown(@rant.content)) %></dt>
  </div>
  <br>
  <div id="rants_footers">

    <br>
    <br>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <a href="https://twitter.com/share" class="twitter-share-button" id="tweet" data-text="Check out the awesome rant <%= @rant.title %> here:">Tweet</a>
  </div>
</div>

<div id="rants_headers">
  <%= form_for @comment, url: rant_comments_path(@rant.id), html: {class: "create_comment_form"} do |f| %>
    <br>
    <%= f.label :comment %>
    <br>
    <%= f.text_field :body, size: "30x10" %>
    <br>
    <br>
    <%= f.submit "create comment" %>
  <% end %>
</div>
<% if @comments != nil %>
  <% @comments.each do |comment| %>
    <div class="my_rants clearfix">
      <div class="indexing_rants">
        <div id="boxrants">
          <img class="rant-image" style="width:20%;height:10%" src=<%= comment.user.avatar %>>
          <%= link_to comment.user.username, user_bios_path(comment.user.id) %>
          <br>
          <%= comment.body %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<br>
<br>
