<div>
  <h1>My Rants</h1>
</div>
<br>
<%= link_to "create rant", new_rant_path %>
<br>
<% @rant.each do |rant_list| %>
<ul>
      <li><%= rant_list.title %></li>
      <%= link_to "delete", :method => :delete %>
      <%= link_to "edit", edit_rant_path(rant_list) %>

  <%= rant_list.content %>
</ul>
  <% end %>