<h1>Create rant</h1>
<div class="errors">
  <% if @rant.errors.any? %>
    <% @rant.errors.full_messages.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
</div>
<br>
<%= form_for @rant, url: rant_index_path, method: :create, html: {class: "create_rant_form"} do |f| %>
  <div>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title, autofocus: true %>
    <br>
    <%= f.label :content %>
    <br>
    <%= f.text_field :content, autofocus: true %>
  </div>
  <div>
    <br>
    <%= f.submit "Create rant" %>
  </div>
<% end %>