<div class="rants">
  <div id="rants_headers">
    <h1 style="color: green;">Search</h1>
    <div id="search_bar">
      <%= form_tag searches_path, :method => 'get' do %>
        <%= text_field_tag :search %>
        <%= submit_tag "search", :name => nil %>
      <% end %>
    </div>
    <br>
  </div>
</div>
<% @rants.each do |rant| %>
  <div class="rants clearfix">
    <div id="rants_headers">
      <img class="rant-image" style="width:30%;height:15%" src=<%= rant.user.image %>>
      <%= link_to rant.user.username, user_bios_path(rant.user.id) %>
    </div>
    <br>
    <dt> <%= rant.title %>:</dt>
    <dt> <%= create_markdown(rant.content) %></dt>
    <br>
  </div>
<%end%>
<% @rant.each do |rant| %>
  <div class="rants clearfix">
    <div id="rants_headers">
      <img class="rant-image" style="width:30%;height:15%" src=<%= rant.user.image %>>
      <%= link_to rant.user.username, user_bios_path(rant.user.id) %>
    </div>
    <br>
    <dt> <%= rant.title %>:</dt>
    <dt> <%= create_markdown(rant.content) %></dt>
    <br>
  </div>
<%end%>
<% @contents.each do |content| %>
  <div class="rants clearfix">
    <div id="rants_headers">
      <img class="rant-image" style="width:30%;height:15%" src=<%= content.user.image %>>
      <%= link_to content.user.username, user_bios_path(content.user.id) %>
    </div>
    <br>
    <dt> <%= content.title %>:</dt>
    <dt> <%= create_markdown(content.content) %></dt>
    <br>
  </div>
<%end%>
