<div class="rants">
  <div id="rants_headers">
    <h1 style="color: green;">Search</h1>

    <div id="search_bar">
      <%= form_tag searches_path, :method => 'get' do %>
        <%= text_field_tag :search %>
        <%= submit_tag "search", :name => nil %>
      <% end %>
    </div>
    <br>
  </div>
</div>
<% @rants.each do |rant| %>
  <div class="rants clearfix">
    <div id="rants_headers">
      <img class="rant-image" style="width:30%;height:15%" src=<%= rant.user.avatar %>>
      <%= link_to rant.user.username, user_bios_path(rant.user.id) %>
    </div>
    <div id="boxrants">
      <%= link_to user_rant_path(rant.user.id, rant.id) do %>
        <br>
        <dt> <%= rant.title %>:</dt>
        <dt> <%= create_markdown(rant.content) %></dt>
        <br>
        </div>
        </div>
      <% end %>
<% end %>
<% @rant.each do |rant| %>
  <div class="rants clearfix">
    <div id="rants_headers">
      <img class="rant-image" style="width:30%;height:15%" src=<%= rant.user.avatar %>>
      <%= link_to rant.user.username, user_bios_path(rant.user.id) %>
    </div>
    <div id="boxrants">
      <%= link_to user_rant_path(rant.user.id, rant.id) do %>
        <br>
        <dt> <%= rant.title %>:</dt>
        <dt> <%= create_markdown(rant.content) %></dt>
        <br>
        </div>
        </div>

      <% end %>
<% end %>

<% @contents.each do |content| %>
  <div class="rants clearfix">
    <div id="rants_headers">
      <img class="rant-image" style="width:30%;height:15%" src=<%= content.user.avatar %>>
      <%= link_to content.user.username, user_bios_path(content.user.id) %>
    </div>
    <div id="boxrants">
      <%= link_to user_rant_path(content.user.id, content.id) do %>
        <br>
        <dt> <%= content.title %>:</dt>
        <dt> <%= create_markdown(content.content) %></dt>
        <br>

        </div>
        </div>
      <% end %>
<% end %>
