<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'rant.jpg' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="container">
    <% if current_user == nil %>
      <div id="rantly">
        <h11 style="color: green;"><%= "Rant.ly" %></h11>
      </div>
    <% else %>
      <div id="rantly">
        <h11 style="color: green;"><%= link_to "Rant.ly", user_rants_path(current_user.id) %></h11>
    <% end %>
    </div>
    <div id="logo">
      <% if current_user == nil %>
        <%= link_to "Login", signin_path, class: "button-link" %>
        <%= link_to "Join", new_user_path, class: "button" %>
      <% else %>
        <div class="nav-link">
          <%= link_to '<i class="fa fa-tachometer"></i>'.html_safe, user_rants_path(current_user.id), id: "cards_link" %>
          <%= link_to '<i class="fa fa-users"></i>'.html_safe, user_follows_path(current_user.id), id: "cards_link" %>
          <%= link_to '<i class="fa fa-thumbs-o-up"></i>'.html_safe, user_favorites_path(current_user.id), id: "cards_link" %>
          <%= link_to '<i class="fa fa-binoculars"></i>'.html_safe, searches_path, id: "cards_link" %>
          <% if current_user.admin %>
            <%= link_to '<i class="fa fa-gavel"></i>'.html_safe, admin_path(current_user.id), id: "cards_link" %>
            <%elsif session[:admin_id].present? %>
                   <%= link_to '<i class="fa fa-eye"></i>'.html_safe, admin_path(:admin_id), id: "cards_link" %>
      <% end %>

      </div>
        <%= link_to "Logout", signout_path, class: "button" %>
        </div>
      <% end %>
      </div>
  <div class="clearfix"></div>
</header>
</div>
</div>
<div class="dash-flex2">
  <div id="rants_headers">
    <div id="flash"><%= flash[:notice] %></div>
  </div>
</div>
<main>
  <div class="container">
    <%= yield %>
  </div>
</main>
</body>
</html>


