<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'rant.jpg' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="container">
    <div id="logo">
        <% if current_user == nil %>
      <%= link_to "Login", signin_path, class: "button-link" %>
      <%= link_to "Join", new_user_path, class: "button" %>
        <% else %>
         <h11 style= "color: white; padding: 20px;">Hi, <%= current_user.username %></h11>
        <%= link_to "Edit Profile", edit_user_path(current_user.id), class: "button-link" %>
        <%= link_to "Signout", signout_path, class: "button-link" %>
    <% end %>
    </div>
    <h11 style= "color: green;"><%=  "Rant.ly" %></h11>
  </div>
</header>
<br>
  <br>
<div id = "toolbar">
  <% if current_user == nil %>
<% else %>
<%= link_to "#{current_user.username}'s Dashboard" , user_rants_path(current_user.id) %> <span class="green">|</span>
<%= link_to "Following" , user_follows_path(current_user.id) %> <span class="green">|</span>
<%= link_to "Favorites" , user_favorites_path(current_user.id) %> <span class="green">|</span>
<%= link_to "Search" , searches_path %>
</div>
    <%end%>
<br>
  <div id="rants_headers">
<div id="flash"><%= flash[:notice] %></div>
  </div>
<main>
  <div class="container">
    <%= yield %>
  </div>
</main>
</body>
</html>