<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'rant.jpg' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="container">
    <div id="logo">
        <% if current_user == nil %>
      <%= link_to "Login", signin_path, class: "button-link" %>
      <%= link_to "Join", new_user_path, class: "button" %>
        <% else %>
        <div class="nav-link">
        <%= link_to "#{current_user.username}'s Dashboard" , user_rants_path(current_user.id)%> |
        <%= link_to "Following" , user_follows_path(current_user.id) %> |
        <%= link_to "Favorites" , user_favorites_path(current_user.id) %> |
        <%= link_to "Search" , searches_path %>
        </div>
        <%= link_to "Logout", signout_path, class: "button" %>
        <% end %>
    </div>
    <% if current_user == nil %>
  <h11 style= "color: green;"><%=  "Rant.ly" %></h11>
      <% else %>
      <h11 style= "color: green;"><%=link_to  "Rant.ly", root_path%></h11>
    <%end%>
  </div>
</header>
</div>
</div>
<div class="dash-flex2">
  <div id="rants_headers">
<div id="flash"><%= flash[:notice] %></div>
  </div>
</div>
<main>
  <div class="container">
    <%= yield %>
  </div>
</main>
</body>
</html>


