<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'rant.jpg' %>
  <title>Rant.ly</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="container">
    <div id="logo">
      <%= link_to "Login", signin_path, class: "button-link" %>
      <%= link_to "Join", new_registration_path, class: "button" %>
    </div>
    <%= link_to "Rant.ly", root_path, class: "button-link" %>
  </div>
</header>
<br>
<br>
</body>
</div>
<% if current_user %>
  <div class="logout">
    <%= current_user.username %> |
    <%= link_to "Logout", signout_path %>
  </div>
<br>
  <br>
  <br>
<% end %>
<main>
  <div class="container">
    <%= yield %>
  </div>
</main>
</body>
</html>