<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'rants.jpg' %>
  <title>Rant.ly</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="container">
    <div id="logo">
      <% if current_user == nil %>
      <%= link_to "Login", signin_path, class: "button-link" %>
      <%= link_to "Join", new_user_path, class: "button" %>
        <% else %>
         <h11 style= "color: white; padding: 20px;">Hi, <%= current_user.first_name %></h11>
        <%= link_to "Edit Profile", edit_user_path(current_user.id), class: "button-link" %>
        <%= link_to "Signout", signout_path, class: "button-link" %>
    <% end %>
    </div>
    <%=  "Rant.ly" %>
  </div>
</header>
<br>
  <br>
<div id="flash"><%= flash[:notice] %></div>
<main>
  <div class="container">
    <%= yield %>
  </div>
</main>
</body>
</html>